<article class="body-movies">
  <div class="container-movies">
    <ul class="cardsMovie">

    </ul>
    <div class="pagination">
      <!-- <ul class="paginationList">
      </ul> -->
      <li class="btn prev"><span><i class="fas fa-angle-left"></i>Prev - </span></li>
      <li class="btn next"><span> - Next<i class="fas fa-angle-right"></i></span></li>

    </div>

  </div>

        <script type="module" src="./components/body.js"></script>
        <!-- <script    src="./components/pagination.js"></script> -->

  </article>