@import '../utils/colors';


.container-movies {
  display: flex;
  flex-direction: column;
}

.body-movies {
  padding: 0 3rem;
  margin: 60px 0px 50px 0px;
}

.cardsMovie {
  background-color: var(--background-color);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;

  // width: auto;
  &__image {
    width: 17.38rem;
    height: 24.9rem;
    border-radius: 5px;
  }
}

.movie-card {
  width: 17.38rem;
  border-radius: 5px;
  background-color: var(--card-color);
  transition: all 150ms ease-in;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 150ms ease-out;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
  }

  .container-movies {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .cardsMovie {
    &__image {
      width: 100%;
      height: 40vh;
      justify-content: center;
      object-fit: cover;
    }
  }

  .movie {
    &__genre {
      font-size: 3vw;
      min-width: 50vw;
      font-size-adjust: initial;
      line-height: 20px;
    }

    &__title {
      font-size: 3vw;
      line-height: 25px;
      word-spacing: 1px;
      width: auto;
      height: auto;
    }
  }

  .body-movies,
  .movielist {
    display: flex;
    padding: 0;
    margin: 0 auto;
  }

  .body-movies {
    margin: 50px auto;
  }
}





.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  .fa-angle-left,
  .fa-angle-right {
    border-radius: 5px;
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    border: none;

    &:hover {
      cursor: pointer;
      background: #ff6b01;
      color: white;
    }
  }

  .pages-list {
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
      border-radius: 5px;
      background: white;
      width: 40px;
      height: 40px;
      font-size: 12px;
      border: none;
    }

    button:hover {
      background: #ff6b01;
      color: white;
    }
  }
}